body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #5ba4ee, #e0c3fc);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #ffffff;
}

header {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 10px rgb(255, 255, 255);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #8ec5fc;
    color: white;
}

nav ul li a:visited {
    color: rgb(255, 0, 255);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 30px auto;
    max-width: 1000px;
}

.gallery img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.media {
    margin: 40px auto;
    background: linear-gradient(45deg, #e0c3fc, #8ec5fc);
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* ===== Підвал ===== */
footer {
    margin-top: 30px;
    padding: 10px;
    background: rgba(255,255,255,0.6);
    border-radius: 20px 20px 0 0;
}

a.external {
    color: darkblue;
}

a.external:hover {
    text-decoration: underline;
}